*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-right: 20px;
}
.logo span{
    color: #FF42A5;
}
.logo h1{
    color: #0B0223;
    font-size: 2.75rem;
    font-weight: 700;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
}
.nav-list-icon{
    background-color: #E7E6E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    border-radius: 8px;
}
.nav-list-icon li{
    list-style: none;
}
.nav-list-icon li a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
}

/* small devices */
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
        padding: 40px 10px;
    }
    .nav-item{
        flex-direction: column;
    }
    .nav-list{
        flex-direction: column;
        margin: 20px 0px;
    }
    .nav-list li a{
        display: flex;
        margin: 15px 0px;
    }
    .nav-list-icon {
        padding: 12px 15px;
    }
    .nav-list-icon li a {
        margin-right: 20px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        padding: 40px 60px;
    }
    .logo img {
        margin-right: 10px;
        width: 70px;
    }
    .logo h1 {
        font-size: 1.75rem;
    }
    .nav-list li a {
        font-size: 1rem;
        margin-right: 16px;
    }
    .nav-list-icon {
        padding: 12px 10px;
    }
    .nav-list-icon li a {
        margin-right: 16px;
    }
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .navbar{
        padding: 40px 100px;
}

}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    height: 100vh;
}
.banner-column-content{
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 220px;
    width: 100%;
    height: 55vh;
}
.banner-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat-title{
    font-size: 4.9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #A654E0;
}
.banner-content > ul{
    margin: 30px 0px;
}
.banner-content li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 20px;
    color: #3C354F;
}
.banner-content li span{
    
}
.banner-btn{
    margin-top: 20px;
}
.btn-primary{
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    margin-right: 25px;
}
.btn-secondary{
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
    
}
.banner-img{
    padding: 0px 170px;
}
.banner-img img{
    margin-bottom: 30%;
    width: 680px;
}
/* small devices */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
        padding: 10px 0px;
        height: 80vh;
    }
    .banner-column-content {
        padding: 0px 0px;
        background-size: cover;
    }
    .banner-img{
        width: 90%;
        padding: 0px 15px;
    }
    .banner-img img{
        width: 100%;
        margin: 20px 0px;
    }
    .banner-title {
        font-size: 1.75rem;
    }
    .goat-title {
        font-size: 3.5rem;
    }
    .banner-content > ul {
        margin: 20px 0px;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
    .btn-primary {
        font-size: .85rem;
        padding: 12px 25px;
        border-radius: 30px;
        margin-right: 14px;
    }
    .btn-secondary {
        font-size: .85rem;
        padding: 12px 25px;
        border-radius: 30px;
    }
    .banner-content{
        padding: 20px 30px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    
    .banner{
        padding: 40px 0px;
        height: auto;
    }
    .banner-column-content {
        padding: 0px 0px;
        height: auto;
    }
    .banner-img {
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 80px;
    }
    .banner-img img{
        width: 320px;
        margin-right: 40px;
    }
    .banner-title {
        font-size: 1.7rem;
    }
    .goat-title {
        font-size: 3.4rem;
    }
    .banner-content{
        padding: 20px 50px;
        margin-bottom: 50%;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
    .btn-primary {
        font-size: 1rem;
        padding: 14px 28px;
        border-radius: 25px;
        margin-right: 16px;
    }
    .btn-secondary {
        font-size: 1rem;
        padding: 14px 28px;
        border-radius: 25px;
    }
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .banner{
        padding: 40px 0px;
        height: auto;
    }
    .banner-column-content {
        padding: 0px 0px;
        height: auto;
    }
    .banner-img {
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 80px;
    }
    .banner-img img{
            width: 430px;
            margin-right: 40px;
    }
    .banner-content{
        padding: 20px 50px;
        margin-bottom: 50%;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
}
/* common section styles */
.section-title{
    color: #0B0223;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    margin: 10px auto;
}
.section-title span{
    color: #A654E0;
}
.section-desc{

}
/* online-games styles */
.online-games{

}
.games-content{

}
.games-box{

}
.games-box img{

}