*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    margin-right: 20px;
}
.logo span{
    color: #FF42A5;
}
.logo h1{
    color: #0B0223;
    font-size: 2.75rem;
    font-weight: 700;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
}
.nav-list-icon{
    background-color: #E7E6E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    border-radius: 8px;
}
.nav-list-icon li{
    list-style: none;
}
.nav-list-icon li a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
}

/* small devices */
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
        padding: 40px 10px;
    }
    .nav-item{
        flex-direction: column;
    }
    .nav-list{
        flex-direction: column;
        margin: 20px 0px;
    }
    .nav-list li a{
        display: flex;
        margin: 15px 0px;
    }
    .nav-list-icon {
        padding: 12px 15px;
    }
    .nav-list-icon li a {
        margin-right: 20px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        padding: 40px 60px;
    }
    .logo img {
        margin-right: 10px;
        width: 70px;
    }
    .logo h1 {
        font-size: 1.75rem;
    }
    .nav-list li a {
        font-size: 1rem;
        margin-right: 16px;
    }
    .nav-list-icon {
        padding: 12px 10px;
    }
    .nav-list-icon li a {
        margin-right: 16px;
    }
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .navbar{
        padding: 40px 100px;
}

}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    height: 100vh;
}
.banner-column-content{
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 220px;
    width: 100%;
   height: auto;
}
.banner-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.goat-title{
    font-size: 4.9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #A654E0;
}
.banner-content > ul{
    margin: 30px 0px;
}
.banner-content li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 20px;
    color: #3C354F;
}
.banner-btn{
    margin-top: 20px;
}
.btn-primary{
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    margin-right: 25px;
}
.btn-secondary{
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
    
}
.banner-img{
    padding: 0px 170px;
}
.banner-img img{
    margin-bottom: 30%;
    width: 680px;
}
/* small devices */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
        padding: 10px 0px;
        height: auto;
    }
    .banner-column-content {
        padding: 0px 0px;
        background-size: cover;
    }
    .banner-img{
        width: 90%;
        padding: 0px 0px;
    }
    .banner-img img{
        width: 100%;
        margin: 20px 0px;
    }
    .banner-title {
        font-size: 1.75rem;
    }
    .goat-title {
        font-size: 3.5rem;
    }
    .banner-content > ul {
        margin: 20px 0px;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
    .btn-primary {
        font-size: .85rem;
        padding: 12px 25px;
        border-radius: 30px;
        margin-right: 14px;
    }
    .btn-secondary {
        font-size: .85rem;
        padding: 12px 25px;
        border-radius: 30px;
    }
    .banner-content{
        padding: 20px 30px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    
    .banner{
        padding: 40px 0px;
        height: auto;
    }
    .banner-column-content {
        padding: 0px 0px;
        height: auto;
    }
    .banner-img {
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 80px;
    }
    .banner-img img{
        width: 320px;
        margin-right: 40px;
    }
    .banner-title {
        font-size: 1.7rem;
    }
    .goat-title {
        font-size: 3.4rem;
    }
    .banner-content{
        padding: 20px 50px;
        margin-bottom: 50%;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
    .btn-primary {
        font-size: 1rem;
        padding: 14px 28px;
        border-radius: 25px;
        margin-right: 16px;
    }
    .btn-secondary {
        font-size: 1rem;
        padding: 14px 28px;
        border-radius: 25px;
    }
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .banner{
        padding: 40px 0px;
        height: auto;
    }
    .banner-column-content {
        padding: 0px 0px;
        height: auto;
    }
    .banner-img {
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 80px;
    }
    .banner-img img{
            width: 430px;
            margin-right: 40px;
    }
    .banner-content{
        padding: 20px 50px;
        margin-bottom: 50%;
    }
    .banner-content li {
        font-size: .85rem;
        margin: 10px 0px;
    }
}
/* common section styles */
.section-title{
    color: #0B0223;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    margin: 10px auto;
}
.section-title span{
    color: #A654E0;
}
.section-desc{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
/* online-games styles */
.games-section{
    margin-top: -6%;
}
.online-games{
    padding: 30px 200px;
}
.games-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 45px;

}
.games-box{
    width: 100%;
    position: relative;
}
.games-box img{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}
.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 18px;
    transition: 0.6s;
}
.content i{
    color: #E94ABB;
    font-size: 2.75rem;
    background-color: #FFF;
    border-radius: 50%;
    border: none;
}
.content p{
    color: #E94ABB;
    font-size: 1.55rem;
}
.content:hover{
    opacity: 1;
    border: 1px solid #E94ABB;
}
.games-box p{
    margin: 10px 0px;
    text-align: left;
}
/* small devices */
@media screen and (max-width:576px) {
    .games-section{
        margin-top: 10%;
    }
    .online-games{
        text-align: center;
        padding: 20px 20px;
    }
    .games-content{
        flex-direction: column;
    }
    .section-title{
        font-size: 2rem;
        font-weight: 600;
        margin: 10px auto;
    }
    .section-desc{
        font-size: .85rem;
        text-align: center;
    }
    .games-box{
        width: 100%;
    }
    .games-box img{
        width: 100%;
    }
    .games-box p{
        margin: 10px 0px;
        text-align: center;
    }
    .content{
        width: 100%;
        height: 87%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        border-radius: 18px;
        transition: 0.6s;
}
    .content:hover{
        opacity: 1;
        border: 1px solid #E94ABB;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .games-section{
        margin-top: -20%;
    }
    .online-games{
        text-align: center;
        padding: 20px 60px;
    }
    .games-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-desc{
        font-size: .85rem;
        text-align: center;
    }
    .games-box{
        width: 100%;
    }
    .games-box img{
        width: 100%;
    }
    
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .online-games{
        padding: 40px 150px;
    }
    .games-box{
        width: 100%;
    }
    .games-box img{
        width: 100%;
    }
    .content{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        border-radius: 18px;
        transition: 0.6s;
}
}
/* play section styles */
.play-section{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-content{
    margin-left: 14%;
    margin-top: 20%;
}
.play-content h1{
    text-align: right;
}
.play-content p{
    text-align: right;
    margin: 18px 0px;
}

.play-img-big{
    position: absolute;
    right: 10%;
}
.play-img-small{
    position: relative;
    top: 22rem;
    right: 30rem;
}
/* small devices */
@media screen and (max-width:576px) {
    .play-section{
        padding: 10px 20px;
        flex-direction: column;
    }
    .play-content{
        text-align: center;
        margin: 10px auto;
    }
    .play-content h1{
        text-align: center;
    }
    .play-content p{
        text-align: center;
        margin: 18px 0px;
    }
    .play-img{
        width: 100%;
    }
    .play-img-big{
        width: 73%;
        margin: 20px 12px;
    }
    .play-img-small{
        width: 36%;
        top: 15rem;
        right: 1rem;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
   
    .play-section{
        padding: 0px 120px;
        flex-direction: column;
    }
    .play-content h1{
        text-align: center;
    }
    .play-content p{
        text-align: center;
        margin: 18px 0px;
    }
    .play-img{
        width: 100%;
    }
    .play-img-big{
        width: 70%;
        margin: 20px 12px;
    }
    .play-img-small{
        width: 40%;
        top: 27rem;
        right: 7rem;
    }
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .play-section{
        padding: 30px 150px;
    }
    .play-content{
        margin-top: 20%;
        margin-left: 0%;
        width: 100%;
    }
    .play-content h1{
        text-align: right;
    }
    .play-content p{
        text-align: right;
        margin: 18px 0px;
    }
    .play-img{
        width: 100%;
    }
    .play-img-big{
        position: absolute;
        right: 8%;
        width: 33%;
    }
    .play-img-small{
        position: relative;
        top: 23rem;
        left: 2rem;
        width: 33%;
    }
}

/* button style */
.buttons-section{
    background-color: #FFF9FC;
    padding: 120px 200px;
    height: 15vh;
    margin-top: 15%;
    
}
.buttons-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 10px auto;
}
.btn-list{
    background: #fff;
    border: 1px solid #fff;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 21px;
    border-radius: 30px;
    transition: 1s;
    padding-right: 25px;
}
.btn-list:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
    border-radius: 30px;
}

/* small devices */
@media screen and (max-width:576px) {
     .buttons-section{
        padding: 10px 10px;
        margin-top: 78%;
        height: auto;
    }
    .buttons-all{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;
        width: 100%;
        margin: 10px auto;
    }
    .btn-list{
        font-size: .55rem;
        gap: 0px;
        border-radius: 30px;
        padding: 8px 10px;
    }
    .btn-list:hover{
        border: 1px solid #FF42A5;
        color: #FF42A5;
        border-radius: 30px;
    }
    .buttons-all button img{
        width: 20%;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .buttons-section{
        padding: 20px 60px;
        margin-top: 80%;
        height: auto;
    }
    .buttons-all{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin: 10px auto;
    }
    .btn-list{
        font-size: .85rem;
        display: flex;
        gap: 5px;
        border-radius: 30px;
        transition: 1s;
        padding-right: 30px;
    }
    .btn-list:hover{
        border: 1px solid #FF42A5;
        color: #FF42A5;
        border-radius: 30px;
    }
    
}
@media screen and (min-width:993px) and (max-width:1440px) {
    .buttons-section{
        background-color: #FFF9FC;
        padding: 120px 120px;
    }
    .buttons-all{
        gap: 20px;
        width: 100%;
    }
}
/* footer styles */
.footer{
    padding: 50px 200px;
    background-color: #0B0223;
    text-align: center;
    height: auto;
}
.footer-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 60px 0px;
}
.footer-logo img{
    margin-right: 20px;
}
.footer-logo span{
    color: #FF42A5;
}
.footer-logo h1{
    color: #ffffff;
    font-size: 2.75rem;
    font-weight: 700;
}

.footer-nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.footer-nav li{
    list-style: none;
}
.footer-nav li a{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.footer-icon > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.footer-icon li{
    list-style: none;
}
.footer-icon li a{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 35px;
}
.footer-link > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.footer-link li{
    list-style: none;
}
.footer-link li a{
    color: #9D9AA7;
    font-size: .85rem;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
.copyright p{
    color: #9D9AA7;
    font-size: .85rem;
}
/* small devices */
@media screen and (max-width:576px) {
    .footer{
        padding: 10px 10px;
        height: auto;
    }
    .footer-logo {
        margin: 20px 0px;
    }
    .footer-nav > ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 0px;
    }
    .footer-nav li{
        list-style: none;
    }
    .footer-nav li a{
        font-size: .75rem;
        font-weight: 400;
    }
    .footer-icon > ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 0px;
    }
    .footer-icon li{
        list-style: none;
    }
    .footer-icon li a{
        font-size: 1.75rem;
    }
    .footer-link > ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 0px;
    }
    .footer-link li{
        list-style: none;
    }
    .footer-link li a{
        font-size: .65rem;
    }
    .copyright p{
        font-size: .65rem;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .footer{
        padding: 20px 60px;
        height: auto;
    }
    .footer-logo {
        margin: 20px 0px;
    }
    .footer-nav li a{
        font-size: 1rem;
        font-weight: 400;
    }
    .footer-icon li a{
        font-size: 2rem;
    }
    .footer-link li a{
        font-size: .85rem;
    }
    .copyright p{
        font-size: .85rem;
    }
   
}